# Scikit-Learn Linear Regression
Using SALES_VIEW from SAP Datasphere. This view has 6,291,450 records

## Install fedml aws library

In [1]:
pip install fedml-aws --force-reinstall

Processing ./fedml_aws-2.0.0-py3-none-any.whl
Collecting pyyaml
  Using cached PyYAML-6.0-cp36-cp36m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (603 kB)
Collecting hdbcli
  Using cached hdbcli-2.12.13-cp34-abi3-manylinux1_x86_64.whl (11.7 MB)
Installing collected packages: pyyaml, hdbcli, fedml-aws
  Attempting uninstall: pyyaml
    Found existing installation: PyYAML 6.0
    Uninstalling PyYAML-6.0:
      Successfully uninstalled PyYAML-6.0
  Attempting uninstall: hdbcli
    Found existing installation: hdbcli 2.12.13
    Uninstalling hdbcli-2.12.13:
      Successfully uninstalled hdbcli-2.12.13
  Attempting uninstall: fedml-aws
    Found existing installation: fedml-aws 2.0.0
    Uninstalling fedml-aws-2.0.0:
      Successfully uninstalled fedml-aws-2.0.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
docker-compose 1.29.2 requires PyYAML<6,>=3.10, but you have pyyaml 6.0 which is incompatible.
awscli 1.22.67 requires PyYAML<5.5,>=3.10, but you have pyyaml 6.0 which is incompatible.
Successfully installed fedml-aws-2.0.0 hdbcli-2.12.13 pyyaml-6.0
Note: you may need to restart the kernel to use updated packages.

## Import Libraries

In [2]:
from fedml_aws import DwcSagemaker
from fedml_aws import DbConnection
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt # plotting

## Create DwcSagemaker instance to access libraries functions

In [3]:
dwcs = DwcSagemaker(prefix='<prefix>', bucket_name='<bucket_name>')

2022-03-21 16:59:21,778: fedml_aws.dwcsagemaker INFO: Bucket created in us-east-1

## Create DbConnection instance to get data from SAP Datasphere

Before running the following cell, you should have a config.json file in the same directory as this notebook with the specified values to allow you to access to SAP Datasphere.

You should also have the follow view `SALES_VIEW` created in your SAP Datasphere. To gather this data, please refer to https://eforexcel.com/wp/downloads-18-sample-csv-files-data-sets-for-testing-sales/

Please note the 2M records data was downloaded and duplicated 3 times to represent a large dataset in SAP Datasphere.

In [4]:
import json
with open('config.json', 'r') as f:
    config = json.load(f)

In [5]:
%%time
db = DbConnection()
train_data = db.execute_query('SELECT * FROM ' + config['schema'] +'.SALES_VIEW')
data = pd.DataFrame(train_data[0], columns=train_data[1])
data

CPU times: user 26.9 s, sys: 4.76 s, total: 31.7 s
Wall time: 35.1 s

,Region,Country,Order_ID,Item_Type,Sales_Channel,Order_Priority,Units_Sold,Unit_Price,Unit_Cost,Total_Revenue,Total_Cost,Total_Profit
0,Sub-Saharan Africa,Guinea-Bissau,197647750,Beverages,Offline,C,7216,47.45,31.79,342399.20,229396.64,113002.56
1,Sub-Saharan Africa,Sudan,321990668,Beverages,Offline,C,3049,47.45,31.79,144675.05,96927.71,47747.34
2,Sub-Saharan Africa,Sudan,982767236,Beverages,Offline,C,1519,47.45,31.79,72076.55,48289.01,23787.54
3,Sub-Saharan Africa,Guinea-Bissau,897898280,Beverages,Offline,C,6909,47.45,31.79,327832.05,219637.11,108194.94
4,Sub-Saharan Africa,Sudan,458928811,Beverages,Offline,C,6088,47.45,31.79,288875.60,193537.52,95338.08
...,...,...,...,...,...,...,...,...,...,...,...,...
6291445,Middle East and North Africa,Saudi Arabia,157667815,Clothes,Offline,L,6265,109.28,35.84,684639.20,224537.60,460101.60
6291446,Australia and Oceania,Tuvalu,403025567,Clothes,Online,L,3076,109.28,35.84,336145.28,110243.84,225901.44
6291447,Asia,Brunei,299461829,Cereal,Offline,M,6265,205.70,117.11,1288710.50,733694.15,555016.35
6291448,Asia,Philippines,354972398,Vegetables,Offline,H,3076,154.06,90.93,473888.56,279700.68,194187.88
6291449,Middle East and North Africa,Algeria,911909282,Baby Food,Online,H,3076,255.28,159.42,785241.28,490375.92,294865.36

## Make sure there are no na or null columns

In [6]:
data.isna().any()

Region            False
Country           False
Order_ID          False
Item_Type         False
Sales_Channel     False
Order_Priority    False
Units_Sold        False
Unit_Price        False
Unit_Cost         False
Total_Revenue     False
Total_Cost        False
Total_Profit      False
dtype: bool

In [7]:
data.isnull().any()

Region            False
Country           False
Order_ID          False
Item_Type         False
Sales_Channel     False
Order_Priority    False
Units_Sold        False
Unit_Price        False
Unit_Cost         False
Total_Revenue     False
Total_Cost        False
Total_Profit      False
dtype: bool

In [8]:
data.columns

Index(['Region', 'Country', 'Order_ID', 'Item_Type', 'Sales_Channel',
       'Order_Priority', 'Units_Sold', 'Unit_Price', 'Unit_Cost',
       'Total_Revenue', 'Total_Cost', 'Total_Profit'],
      dtype='object')

## Correlation

In [9]:
# Create correlation matrix
corr_matrix = data.corr().abs()

# Select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

In [10]:
corr_matrix

,Units_Sold,Unit_Price,Unit_Cost,Total_Revenue,Total_Cost,Total_Profit
Units_Sold,1.000000,0.000807,0.000659,0.523055,0.471242,0.598290
Unit_Price,0.000807,1.000000,0.986049,0.738524,0.753562,0.577423
Unit_Cost,0.000659,0.986049,1.000000,0.728145,0.764154,0.505104
Total_Revenue,0.523055,0.738524,0.728145,1.000000,0.987724,0.880793
Total_Cost,0.471242,0.753562,0.764154,0.987724,1.000000,0.796014
Total_Profit,0.598290,0.577423,0.505104,0.880793,0.796014,1.000000

In [11]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [12]:
df = data.iloc[:,6:]
df

,Units_Sold,Unit_Price,Unit_Cost,Total_Revenue,Total_Cost,Total_Profit
0,7216,47.45,31.79,342399.20,229396.64,113002.56
1,3049,47.45,31.79,144675.05,96927.71,47747.34
2,1519,47.45,31.79,72076.55,48289.01,23787.54
3,6909,47.45,31.79,327832.05,219637.11,108194.94
4,6088,47.45,31.79,288875.60,193537.52,95338.08
...,...,...,...,...,...,...
6291445,6265,109.28,35.84,684639.20,224537.60,460101.60
6291446,3076,109.28,35.84,336145.28,110243.84,225901.44
6291447,6265,205.70,117.11,1288710.50,733694.15,555016.35
6291448,3076,154.06,90.93,473888.56,279700.68,194187.88
6291449,3076,255.28,159.42,785241.28,490375.92,294865.36

In [13]:
for i in df.columns:
    print(df[i])

0          7216
1          3049
2          1519
3          6909
4          6088
           ...
6291445    6265
6291446    3076
6291447    6265
6291448    3076
6291449    3076
Name: Units_Sold, Length: 6291450, dtype: int64
0           47.45
1           47.45
2           47.45
3           47.45
4           47.45
            ...
6291445    109.28
6291446    109.28
6291447    205.70
6291448    154.06
6291449    255.28
Name: Unit_Price, Length: 6291450, dtype: float64
0           31.79
1           31.79
2           31.79
3           31.79
4           31.79
            ...
6291445     35.84
6291446     35.84
6291447    117.11
6291448     90.93
6291449    159.42
Name: Unit_Cost, Length: 6291450, dtype: float64
0           342399.20
1           144675.05
2            72076.55
3           327832.05
4           288875.60
              ...
6291445     684639.20
6291446     336145.28
6291447    1288710.50
6291448     473888.56
6291449     785241.28
Name: Total_Revenue, Length: 6291450, dtype: float64
0          229396.64
1           96927.71
2           48289.01
3          219637.11
4          193537.52
             ...
6291445    224537.60
6291446    110243.84
6291447    733694.15
6291448    279700.68
6291449    490375.92
Name: Total_Cost, Length: 6291450, dtype: float64
0          113002.56
1           47747.34
2           23787.54
3          108194.94
4           95338.08
             ...
6291445    460101.60
6291446    225901.44
6291447    555016.35
6291448    194187.88
6291449    294865.36
Name: Total_Profit, Length: 6291450, dtype: float64

## Train SciKit Model

`train_data` is the data you want to train your model with.

In order to deploy a model to AWS using the Scikit-learn Sagemaker SDK, you must have a script that tells Sagemaker how to train and deploy the model. The path to the script is passed to the `train_sklearn_model` function in the `train_script` parameter.

`instance_type` specifies how much computing power we want AWS to allocate for our services.

In [14]:
clf = dwcs.train_sklearn_model(df,
                               train_script='sales_train.py',
                               instance_type='ml.c4.xlarge',
                              wait=True)

2022-03-21 17:00:46,955: fedml_aws.dwcsagemaker INFO: Training data uploaded
2022-03-21 17:00:47 Starting - Starting the training job...ProfilerReport-1647882047: InProgress
...
2022-03-21 17:01:17 Starting - Preparing the instances for training.........
2022-03-21 17:03:05 Downloading - Downloading input data...
2022-03-21 17:03:45 Training - Downloading the training image...
2022-03-21 17:04:10 Training - Training image download completed. Training in progress..2022-03-21 17:04:13,248 sagemaker-containers INFO     Imported framework sagemaker_sklearn_container.training
2022-03-21 17:04:13,250 sagemaker-training-toolkit INFO     No GPUs detected (normal if no gpus installed)
2022-03-21 17:04:13,261 sagemaker_sklearn_container.training INFO     Invoking user training script.
2022-03-21 17:04:13,739 sagemaker-training-toolkit INFO     No GPUs detected (normal if no gpus installed)
2022-03-21 17:04:13,761 sagemaker-training-toolkit INFO     No GPUs detected (normal if no gpus installed)
2022-03-21 17:04:13,782 sagemaker-training-toolkit INFO     No GPUs detected (normal if no gpus installed)
2022-03-21 17:04:13,792 sagemaker-training-toolkit INFO     Invoking user script
Training Env:
{
    "additional_framework_parameters": {},
    "channel_input_dirs": {
        "train": "/opt/ml/input/data/train"
    },
    "current_host": "algo-1",
    "framework_module": "sagemaker_sklearn_container.training:main",
    "hosts": [
        "algo-1"
    ],
    "hyperparameters": {},
    "input_config_dir": "/opt/ml/input/config",
    "input_data_config": {
        "train": {
            "TrainingInputMode": "File",
            "S3DistributionType": "FullyReplicated",
            "RecordWrapperType": "None"
        }
    },
    "input_dir": "/opt/ml/input",
    "is_master": true,
    "job_name": "sagemaker-scikit-learn-2022-03-21-17-00-47-231",
    "log_level": 20,
    "master_hostname": "algo-1",
    "model_dir": "/opt/ml/model",
    "module_dir": "s3://sagemaker-us-east-1-321880606331/sagemaker-scikit-learn-2022-03-21-17-00-47-231/source/sourcedir.tar.gz",
    "module_name": "sales_train",
    "network_interface_name": "eth0",
    "num_cpus": 4,
    "num_gpus": 0,
    "output_data_dir": "/opt/ml/output/data",
    "output_dir": "/opt/ml/output",
    "output_intermediate_dir": "/opt/ml/output/intermediate",
    "resource_config": {
        "current_host": "algo-1",
        "current_instance_type": "ml.c4.xlarge",
        "current_group_name": "homogeneousCluster",
        "hosts": [
            "algo-1"
        ],
        "instance_groups": [
            {
                "instance_group_name": "homogeneousCluster",
                "instance_type": "ml.c4.xlarge",
                "hosts": [
                    "algo-1"
                ]
            }
        ],
        "network_interface_name": "eth0"
    },
    "user_entry_point": "sales_train.py"
}
Environment variables:
SM_HOSTS=["algo-1"]
SM_NETWORK_INTERFACE_NAME=eth0
SM_HPS={}
SM_USER_ENTRY_POINT=sales_train.py
SM_FRAMEWORK_PARAMS={}
SM_RESOURCE_CONFIG={"current_group_name":"homogeneousCluster","current_host":"algo-1","current_instance_type":"ml.c4.xlarge","hosts":["algo-1"],"instance_groups":[{"hosts":["algo-1"],"instance_group_name":"homogeneousCluster","instance_type":"ml.c4.xlarge"}],"network_interface_name":"eth0"}
SM_INPUT_DATA_CONFIG={"train":{"RecordWrapperType":"None","S3DistributionType":"FullyReplicated","TrainingInputMode":"File"}}
SM_OUTPUT_DATA_DIR=/opt/ml/output/data
SM_CHANNELS=["train"]
SM_CURRENT_HOST=algo-1
SM_MODULE_NAME=sales_train
SM_LOG_LEVEL=20
SM_FRAMEWORK_MODULE=sagemaker_sklearn_container.training:main
SM_INPUT_DIR=/opt/ml/input
SM_INPUT_CONFIG_DIR=/opt/ml/input/config
SM_OUTPUT_DIR=/opt/ml/output
SM_NUM_CPUS=4
SM_NUM_GPUS=0
SM_MODEL_DIR=/opt/ml/model
SM_MODULE_DIR=s3://sagemaker-us-east-1-321880606331/sagemaker-scikit-learn-2022-03-21-17-00-47-231/source/sourcedir.tar.gz
SM_TRAINING_ENV={"additional_framework_parameters":{},"channel_input_dirs":{"train":"/opt/ml/input/data/train"},"current_host":"algo-1","framework_module":"sagemaker_sklearn_container.training:main","hosts":["algo-1"],"hyperparameters":{},"input_config_dir":"/opt/ml/input/config","input_data_config":{"train":{"RecordWrapperType":"None","S3DistributionType":"FullyReplicated","TrainingInputMode":"File"}},"input_dir":"/opt/ml/input","is_master":true,"job_name":"sagemaker-scikit-learn-2022-03-21-17-00-47-231","log_level":20,"master_hostname":"algo-1","model_dir":"/opt/ml/model","module_dir":"s3://sagemaker-us-east-1-321880606331/sagemaker-scikit-learn-2022-03-21-17-00-47-231/source/sourcedir.tar.gz","module_name":"sales_train","network_interface_name":"eth0","num_cpus":4,"num_gpus":0,"output_data_dir":"/opt/ml/output/data","output_dir":"/opt/ml/output","output_intermediate_dir":"/opt/ml/output/intermediate","resource_config":{"current_group_name":"homogeneousCluster","current_host":"algo-1","current_instance_type":"ml.c4.xlarge","hosts":["algo-1"],"instance_groups":[{"hosts":["algo-1"],"instance_group_name":"homogeneousCluster","instance_type":"ml.c4.xlarge"}],"network_interface_name":"eth0"},"user_entry_point":"sales_train.py"}
SM_USER_ARGS=[]
SM_OUTPUT_INTERMEDIATE_DIR=/opt/ml/output/intermediate
SM_CHANNEL_TRAIN=/opt/ml/input/data/train
PYTHONPATH=/opt/ml/code:/miniconda3/bin:/miniconda3/lib/python37.zip:/miniconda3/lib/python3.7:/miniconda3/lib/python3.7/lib-dynload:/miniconda3/lib/python3.7/site-packages
Invoking script with the following command:
/miniconda3/bin/python sales_train.py
(6291450, 5) (6291450,)
****************************X_train and X_test****************************
         Units_Sold  Unit_Price  Unit_Cost  Total_Revenue  Total_Cost
3348559        6015      154.06      90.93      926670.90   546943.95
3095678        5960      255.28     159.42     1521468.80   950143.20
5776763        2094       47.45      31.79       99360.30    66568.26
5610948        2190      437.20     263.33      957468.00   576692.70
3397188        4145      421.89     364.69     1748734.05  1511640.05
...             ...         ...        ...            ...         ...
5425872        2170      437.20     263.33      948724.00   571426.10
1482768        5102      205.70     117.11     1049481.40   597495.22
4498084        6484      152.58      97.44      989328.72   631800.96
2769287        6348      437.20     263.33     2775345.60  1671618.84
5865682        1531      154.06      90.93      235865.86   139213.83
[4404015 rows x 5 columns]
         Units_Sold  Unit_Price  Unit_Cost  Total_Revenue  Total_Cost
6252467        3029       81.73      56.67      247560.17   171653.43
988053         6735      109.28      35.84      736000.80   241382.40
4923832        1660       81.73      56.67      135671.80    94072.20
3727104         978      437.20     263.33      427581.60   257536.74
4521285        3406      651.21     524.96     2218021.26  1788013.76
...             ...         ...        ...            ...         ...
2937340        2280      255.28     159.42      582038.40   363477.60
1999144        1179      651.21     524.96      767776.59   618927.84
4516301        9001      437.20     263.33     3935237.20  2370233.33
579906         5362      154.06      90.93      826069.72   487566.66
5294696        8240      205.70     117.11     1694968.00   964986.40
[1887435 rows x 5 columns]
****************************y_train and y_test****************************
3348559     379726.95
3095678     571325.60
5776763      32792.04
5610948     380775.30
3397188     237094.00
              ...
5425872     377297.90
1482768     451986.18
4498084     357527.76
2769287    1103726.76
5865682      96652.03
Name: Total_Profit, Length: 4404015, dtype: float64
6252467      75906.74
988053      494618.40
4923832      41599.60
3727104     170044.86
4521285     430007.50
              ...
2937340     218560.80
1999144     148848.75
4516301    1565003.87
579906      338503.06
5294696     729981.60
Name: Total_Profit, Length: 1887435, dtype: float64
Score for fit: 1.0
saved model!
2022-03-21 17:04:20,790 sagemaker-containers INFO     Reporting training SUCCESS

2022-03-21 17:04:45 Uploading - Uploading generated training model
2022-03-21 17:04:45 Completed - Training job completed
Training seconds: 108
Billable seconds: 108

## Using the fedml_aws deploy function

In [15]:
predictor = dwcs.deploy(clf, initial_instance_count=1, instance_type="ml.c4.xlarge", endpoint_name='linear-v2')

---------!

In [16]:
predictor

'linear-v2'

## Using the fedml_aws predict function

In [42]:
test_data = data.tail(60)

In [43]:
df = test_data.iloc[:,6:-1]
df

         Units_Sold  Unit_Price  Unit_Cost  Total_Revenue  Total_Cost
6291390        3076       81.73      56.67      251401.48   174316.92
6291391         406       81.73      56.67       33182.38    23008.02
6291392        3076      109.28      35.84      336145.28   110243.84
6291393         406      437.20     263.33      177503.20   106911.98
6291394        6265      651.21     524.96     4079830.65  3288874.40
6291395        3076      437.20     263.33     1344827.20   810003.08
6291396        6265      668.27     502.54     4186711.55  3148413.10
6291397        6265      205.70     117.11     1288710.50   733694.15
6291398        6265        9.33       6.92       58452.45    43353.80
6291399         406       81.73      56.67       33182.38    23008.02
6291400         406      437.20     263.33      177503.20   106911.98
6291401         406       47.45      31.79       19264.70    12906.74
6291402        3076      152.58      97.44      469336.08   299725.44
6291403        6265       47.45      31.79      297274.25   199164.35
6291404        3076      437.20     263.33     1344827.20   810003.08
6291405        6265      205.70     117.11     1288710.50   733694.15
6291406        6265      421.89     364.69     2643140.85  2284782.85
6291407         406      152.58      97.44       61947.48    39560.64
6291408         406      154.06      90.93       62548.36    36917.58
6291409        6265       81.73      56.67      512038.45   355037.55
6291410        6265       47.45      31.79      297274.25   199164.35
6291411         406      668.27     502.54      271317.62   204031.24
6291412         406       47.45      31.79       19264.70    12906.74
6291413         406      421.89     364.69      171287.34   148064.14
6291414         406       81.73      56.67       33182.38    23008.02
6291415        6265      152.58      97.44      955913.70   610461.60
6291416        3076      154.06      90.93      473888.56   279700.68
6291417        6265      109.28      35.84      684639.20   224537.60
6291418         406      154.06      90.93       62548.36    36917.58
6291419        3076      205.70     117.11      632733.20   360230.36
6291420        6265      205.70     117.11     1288710.50   733694.15
6291421        3076      668.27     502.54     2055598.52  1545813.04
6291422         406      205.70     117.11       83514.20    47546.66
6291423        3076       81.73      56.67      251401.48   174316.92
6291424        6265       47.45      31.79      297274.25   199164.35
6291425        6265       81.73      56.67      512038.45   355037.55
6291426        3076      205.70     117.11      632733.20   360230.36
6291427         406      109.28      35.84       44367.68    14551.04
6291428         406      668.27     502.54      271317.62   204031.24
6291429        6265      109.28      35.84      684639.20   224537.60
6291430        3076      437.20     263.33     1344827.20   810003.08
6291431        3076      437.20     263.33     1344827.20   810003.08
6291432         406      205.70     117.11       83514.20    47546.66
6291433        6265      154.06      90.93      965185.90   569676.45
6291434         406      437.20     263.33      177503.20   106911.98
6291435        3076      437.20     263.33     1344827.20   810003.08
6291436         406        9.33       6.92        3787.98     2809.52
6291437         406      421.89     364.69      171287.34   148064.14
6291438        6265      255.28     159.42     1599329.20   998766.30
6291439        6265      421.89     364.69     2643140.85  2284782.85
6291440        6265      421.89     364.69     2643140.85  2284782.85
6291441        6265      421.89     364.69     2643140.85  2284782.85
6291442        3076      651.21     524.96     2003121.96  1614776.96
6291443        3076      437.20     263.33     1344827.20   810003.08
6291444        3076      421.89     364.69     1297733.64  1121786.44
6291445        6265      109.28      35.84      684639.20   224537.60
6291446        3076      109.28      35.84      336145.28   110243.84
6291447        6265      205.70     117.11     1288710.50   733694.15
6291448        3076      154.06      90.93      473888.56   279700.68
6291449        3076      255.28     159.42      785241.28   490375.92

In [44]:
result = dwcs.predict(endpoint_name=predictor, 
             body=df.to_csv(header=False, index=False).encode('utf-8'), 
             content_type='text/csv')

In [45]:
type(result)

str

In [46]:
res = result.strip('][').split(', ')
res

['77084.56000000218',
 '10174.360000002947',
 '225901.44000000175',
 '70591.21999999917',
 '790956.2499999946',
 '534824.119999998',
 '1038298.4499999944',
 '555016.3499999999',
 '15098.650000002024',
 '10174.360000002947',
 '70591.21999999917',
 '6357.960000003297',
 '169610.6400000014',
 '98109.90000000157',
 '534824.119999998',
 '555016.3499999999',
 '358357.99999999785',
 '22386.8400000022',
 '25630.780000002145',
 '157000.90000000125',
 '98109.90000000157',
 '67286.37999999715',
 '6357.960000003297',
 '23223.199999999808',
 '10174.360000002947',
 '345452.1000000005',
 '194187.88000000134',
 '460101.60000000073',
 '25630.780000002145',
 '272502.8400000008',
 '555016.3499999999',
 '509785.4799999962',
 '35967.54000000156',
 '77084.56000000218',
 '98109.90000000157',
 '157000.90000000125',
 '272502.8400000008',
 '29816.64000000249',
 '67286.37999999715',
 '460101.60000000073',
 '534824.119999998',
 '534824.119999998',
 '35967.54000000156',
 '395509.45000000036',
 '70591.21999999917',
 '534824.119999998',
 '978.4600000036921',
 '23223.199999999808',
 '600562.899999999',
 '358357.99999999785',
 '358357.99999999785',
 '358357.99999999785',
 '388344.9999999962',
 '534824.119999998',
 '175947.19999999873',
 '460101.60000000073',
 '225901.44000000175',
 '555016.3499999999',
 '194187.88000000134',
 '294865.36000000034']

## Creating table in SAP Datasphere to write results back

In [47]:
dwc_data = df

In [48]:
dwc_data = dwc_data.assign(totalprofit = res)
dwc_data

,Units_Sold,Unit_Price,Unit_Cost,Total_Revenue,Total_Cost,totalprofit
6291390,3076,81.73,56.67,251401.48,174316.92,77084.56000000218
6291391,406,81.73,56.67,33182.38,23008.02,10174.360000002947
6291392,3076,109.28,35.84,336145.28,110243.84,225901.44000000175
6291393,406,437.20,263.33,177503.20,106911.98,70591.21999999917
6291394,6265,651.21,524.96,4079830.65,3288874.40,790956.2499999946
6291395,3076,437.20,263.33,1344827.20,810003.08,534824.119999998
6291396,6265,668.27,502.54,4186711.55,3148413.10,1038298.4499999944
6291397,6265,205.70,117.11,1288710.50,733694.15,555016.3499999999
6291398,6265,9.33,6.92,58452.45,43353.80,15098.650000002024
6291399,406,81.73,56.67,33182.38,23008.02,10174.360000002947
6291400,406,437.20,263.33,177503.20,106911.98,70591.21999999917
6291401,406,47.45,31.79,19264.70,12906.74,6357.960000003297
6291402,3076,152.58,97.44,469336.08,299725.44,169610.6400000014
6291403,6265,47.45,31.79,297274.25,199164.35,98109.90000000157
6291404,3076,437.20,263.33,1344827.20,810003.08,534824.119999998
6291405,6265,205.70,117.11,1288710.50,733694.15,555016.3499999999
6291406,6265,421.89,364.69,2643140.85,2284782.85,358357.99999999785
6291407,406,152.58,97.44,61947.48,39560.64,22386.8400000022
6291408,406,154.06,90.93,62548.36,36917.58,25630.780000002145
6291409,6265,81.73,56.67,512038.45,355037.55,157000.90000000125
6291410,6265,47.45,31.79,297274.25,199164.35,98109.90000000157
6291411,406,668.27,502.54,271317.62,204031.24,67286.37999999715
6291412,406,47.45,31.79,19264.70,12906.74,6357.960000003297
6291413,406,421.89,364.69,171287.34,148064.14,23223.199999999808
6291414,406,81.73,56.67,33182.38,23008.02,10174.360000002947
6291415,6265,152.58,97.44,955913.70,610461.60,345452.1000000005
6291416,3076,154.06,90.93,473888.56,279700.68,194187.88000000134
6291417,6265,109.28,35.84,684639.20,224537.60,460101.60000000073
6291418,406,154.06,90.93,62548.36,36917.58,25630.780000002145
6291419,3076,205.70,117.11,632733.20,360230.36,272502.8400000008
6291420,6265,205.70,117.11,1288710.50,733694.15,555016.3499999999
6291421,3076,668.27,502.54,2055598.52,1545813.04,509785.4799999962
6291422,406,205.70,117.11,83514.20,47546.66,35967.54000000156
6291423,3076,81.73,56.67,251401.48,174316.92,77084.56000000218
6291424,6265,47.45,31.79,297274.25,199164.35,98109.90000000157
6291425,6265,81.73,56.67,512038.45,355037.55,157000.90000000125
6291426,3076,205.70,117.11,632733.20,360230.36,272502.8400000008
6291427,406,109.28,35.84,44367.68,14551.04,29816.64000000249
6291428,406,668.27,502.54,271317.62,204031.24,67286.37999999715
6291429,6265,109.28,35.84,684639.20,224537.60,460101.60000000073
6291430,3076,437.20,263.33,1344827.20,810003.08,534824.119999998
6291431,3076,437.20,263.33,1344827.20,810003.08,534824.119999998
6291432,406,205.70,117.11,83514.20,47546.66,35967.54000000156
6291433,6265,154.06,90.93,965185.90,569676.45,395509.45000000036
6291434,406,437.20,263.33,177503.20,106911.98,70591.21999999917
6291435,3076,437.20,263.33,1344827.20,810003.08,534824.119999998
6291436,406,9.33,6.92,3787.98,2809.52,978.4600000036921
6291437,406,421.89,364.69,171287.34,148064.14,23223.199999999808
6291438,6265,255.28,159.42,1599329.20,998766.30,600562.899999999
6291439,6265,421.89,364.69,2643140.85,2284782.85,358357.99999999785
6291440,6265,421.89,364.69,2643140.85,2284782.85,358357.99999999785
6291441,6265,421.89,364.69,2643140.85,2284782.85,358357.99999999785
6291442,3076,651.21,524.96,2003121.96,1614776.96,388344.9999999962
6291443,3076,437.20,263.33,1344827.20,810003.08,534824.119999998
6291444,3076,421.89,364.69,1297733.64,1121786.44,175947.19999999873
6291445,6265,109.28,35.84,684639.20,224537.60,460101.60000000073
6291446,3076,109.28,35.84,336145.28,110243.84,225901.44000000175
6291447,6265,205.70,117.11,1288710.50,733694.15,555016.3499999999
6291448,3076,154.06,90.93,473888.56,279700.68,194187.88000000134
6291449,3076,255.28,159.42,785241.28,490375.92,294865.36000000034

In [49]:
dwc_data.insert(0,'ID',dwc_data.index, False)

In [50]:
dwc_data.columns

Index(['ID', 'Units_Sold', 'Unit_Price', 'Unit_Cost', 'Total_Revenue',
       'Total_Cost', 'totalprofit'],
      dtype='object')

In [51]:
dwc_data

,ID,Units_Sold,Unit_Price,Unit_Cost,Total_Revenue,Total_Cost,totalprofit
6291390,6291390,3076,81.73,56.67,251401.48,174316.92,77084.56000000218
6291391,6291391,406,81.73,56.67,33182.38,23008.02,10174.360000002947
6291392,6291392,3076,109.28,35.84,336145.28,110243.84,225901.44000000175
6291393,6291393,406,437.20,263.33,177503.20,106911.98,70591.21999999917
6291394,6291394,6265,651.21,524.96,4079830.65,3288874.40,790956.2499999946
6291395,6291395,3076,437.20,263.33,1344827.20,810003.08,534824.119999998
6291396,6291396,6265,668.27,502.54,4186711.55,3148413.10,1038298.4499999944
6291397,6291397,6265,205.70,117.11,1288710.50,733694.15,555016.3499999999
6291398,6291398,6265,9.33,6.92,58452.45,43353.80,15098.650000002024
6291399,6291399,406,81.73,56.67,33182.38,23008.02,10174.360000002947
6291400,6291400,406,437.20,263.33,177503.20,106911.98,70591.21999999917
6291401,6291401,406,47.45,31.79,19264.70,12906.74,6357.960000003297
6291402,6291402,3076,152.58,97.44,469336.08,299725.44,169610.6400000014
6291403,6291403,6265,47.45,31.79,297274.25,199164.35,98109.90000000157
6291404,6291404,3076,437.20,263.33,1344827.20,810003.08,534824.119999998
6291405,6291405,6265,205.70,117.11,1288710.50,733694.15,555016.3499999999
6291406,6291406,6265,421.89,364.69,2643140.85,2284782.85,358357.99999999785
6291407,6291407,406,152.58,97.44,61947.48,39560.64,22386.8400000022
6291408,6291408,406,154.06,90.93,62548.36,36917.58,25630.780000002145
6291409,6291409,6265,81.73,56.67,512038.45,355037.55,157000.90000000125
6291410,6291410,6265,47.45,31.79,297274.25,199164.35,98109.90000000157
6291411,6291411,406,668.27,502.54,271317.62,204031.24,67286.37999999715
6291412,6291412,406,47.45,31.79,19264.70,12906.74,6357.960000003297
6291413,6291413,406,421.89,364.69,171287.34,148064.14,23223.199999999808
6291414,6291414,406,81.73,56.67,33182.38,23008.02,10174.360000002947
6291415,6291415,6265,152.58,97.44,955913.70,610461.60,345452.1000000005
6291416,6291416,3076,154.06,90.93,473888.56,279700.68,194187.88000000134
6291417,6291417,6265,109.28,35.84,684639.20,224537.60,460101.60000000073
6291418,6291418,406,154.06,90.93,62548.36,36917.58,25630.780000002145
6291419,6291419,3076,205.70,117.11,632733.20,360230.36,272502.8400000008
6291420,6291420,6265,205.70,117.11,1288710.50,733694.15,555016.3499999999
6291421,6291421,3076,668.27,502.54,2055598.52,1545813.04,509785.4799999962
6291422,6291422,406,205.70,117.11,83514.20,47546.66,35967.54000000156
6291423,6291423,3076,81.73,56.67,251401.48,174316.92,77084.56000000218
6291424,6291424,6265,47.45,31.79,297274.25,199164.35,98109.90000000157
6291425,6291425,6265,81.73,56.67,512038.45,355037.55,157000.90000000125
6291426,6291426,3076,205.70,117.11,632733.20,360230.36,272502.8400000008
6291427,6291427,406,109.28,35.84,44367.68,14551.04,29816.64000000249
6291428,6291428,406,668.27,502.54,271317.62,204031.24,67286.37999999715
6291429,6291429,6265,109.28,35.84,684639.20,224537.60,460101.60000000073
6291430,6291430,3076,437.20,263.33,1344827.20,810003.08,534824.119999998
6291431,6291431,3076,437.20,263.33,1344827.20,810003.08,534824.119999998
6291432,6291432,406,205.70,117.11,83514.20,47546.66,35967.54000000156
6291433,6291433,6265,154.06,90.93,965185.90,569676.45,395509.45000000036
6291434,6291434,406,437.20,263.33,177503.20,106911.98,70591.21999999917
6291435,6291435,3076,437.20,263.33,1344827.20,810003.08,534824.119999998
6291436,6291436,406,9.33,6.92,3787.98,2809.52,978.4600000036921
6291437,6291437,406,421.89,364.69,171287.34,148064.14,23223.199999999808
6291438,6291438,6265,255.28,159.42,1599329.20,998766.30,600562.899999999
6291439,6291439,6265,421.89,364.69,2643140.85,2284782.85,358357.99999999785
6291440,6291440,6265,421.89,364.69,2643140.85,2284782.85,358357.99999999785
6291441,6291441,6265,421.89,364.69,2643140.85,2284782.85,358357.99999999785
6291442,6291442,3076,651.21,524.96,2003121.96,1614776.96,388344.9999999962
6291443,6291443,3076,437.20,263.33,1344827.20,810003.08,534824.119999998
6291444,6291444,3076,421.89,364.69,1297733.64,1121786.44,175947.19999999873
6291445,6291445,6265,109.28,35.84,684639.20,224537.60,460101.60000000073
6291446,6291446,3076,109.28,35.84,336145.28,110243.84,225901.44000000175
6291447,6291447,6265,205.70,117.11,1288710.50,733694.15,555016.3499999999
6291448,6291448,3076,154.06,90.93,473888.56,279700.68,194187.88000000134
6291449,6291449,3076,255.28,159.42,785241.28,490375.92,294865.36000000034

In [52]:
dwc_data.dtypes

ID                 int64
Units_Sold         int64
Unit_Price       float64
Unit_Cost        float64
Total_Revenue    float64
Total_Cost       float64
totalprofit       object
dtype: object

In [53]:
dwc_data = dwc_data.astype({'totalprofit': 'float64'})
dwc_data.dtypes

ID                 int64
Units_Sold         int64
Unit_Price       float64
Unit_Cost        float64
Total_Revenue    float64
Total_Cost       float64
totalprofit      float64
dtype: object

In [55]:
# ['ID', 'Units_Sold', 'Unit_Price', 'Unit_Cost', 'Total_Revenue','Total_Cost', 'totalprofit']

db.create_table("CREATE TABLE Linear_Reg_Model (ID INTEGER PRIMARY KEY, Units_Sold INTEGER, Unit_Price FLOAT(2), Unit_Cost FLOAT(2), Total_Revenue FLOAT(2), Total_Cost FLOAT(2), totalprofit FLOAT(2))")

creating table...
CREATE TABLE Linear_Reg_Model (ID INTEGER PRIMARY KEY, Units_Sold INTEGER, Unit_Price FLOAT(2), Unit_Cost FLOAT(2), Total_Revenue FLOAT(2), Total_Cost FLOAT(2), totalprofit FLOAT(2), INSERTED_AT TIMESTAMP NOT NULL)

In [56]:
db.insert_into_table('Linear_Reg_Model', dwc_data)

inserting into table...
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291390.0, 3076.0, 81.73, 56.67, 251401.48, 174316.92, 77084.56000000218, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291391.0, 406.0, 81.73, 56.67, 33182.38, 23008.02, 10174.360000002947, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291392.0, 3076.0, 109.28, 35.84, 336145.28, 110243.84, 225901.44000000175, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291393.0, 406.0, 437.2, 263.33, 177503.2, 106911.98, 70591.21999999917, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291394.0, 6265.0, 651.21, 524.96, 4079830.65, 3288874.4, 790956.2499999946, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291395.0, 3076.0, 437.2, 263.33, 1344827.2, 810003.08, 534824.119999998, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291396.0, 6265.0, 668.27, 502.54, 4186711.55, 3148413.1, 1038298.4499999944, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291397.0, 6265.0, 205.7, 117.11, 1288710.5, 733694.15, 555016.3499999999, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291398.0, 6265.0, 9.33, 6.92, 58452.45, 43353.8, 15098.650000002024, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291399.0, 406.0, 81.73, 56.67, 33182.38, 23008.02, 10174.360000002947, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291400.0, 406.0, 437.2, 263.33, 177503.2, 106911.98, 70591.21999999917, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291401.0, 406.0, 47.45, 31.79, 19264.7, 12906.74, 6357.960000003297, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291402.0, 3076.0, 152.58, 97.44, 469336.08, 299725.44, 169610.6400000014, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291403.0, 6265.0, 47.45, 31.79, 297274.25, 199164.35, 98109.90000000157, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291404.0, 3076.0, 437.2, 263.33, 1344827.2, 810003.08, 534824.119999998, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291405.0, 6265.0, 205.7, 117.11, 1288710.5, 733694.15, 555016.3499999999, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291406.0, 6265.0, 421.89, 364.69, 2643140.85, 2284782.85, 358357.99999999785, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291407.0, 406.0, 152.58, 97.44, 61947.48, 39560.64, 22386.8400000022, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291408.0, 406.0, 154.06, 90.93, 62548.36, 36917.58, 25630.780000002145, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291409.0, 6265.0, 81.73, 56.67, 512038.45, 355037.55, 157000.90000000125, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291410.0, 6265.0, 47.45, 31.79, 297274.25, 199164.35, 98109.90000000157, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291411.0, 406.0, 668.27, 502.54, 271317.62, 204031.24, 67286.37999999715, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291412.0, 406.0, 47.45, 31.79, 19264.7, 12906.74, 6357.960000003297, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291413.0, 406.0, 421.89, 364.69, 171287.34, 148064.14, 23223.199999999808, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291414.0, 406.0, 81.73, 56.67, 33182.38, 23008.02, 10174.360000002947, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291415.0, 6265.0, 152.58, 97.44, 955913.7, 610461.6, 345452.1000000005, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291416.0, 3076.0, 154.06, 90.93, 473888.56, 279700.68, 194187.88000000134, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291417.0, 6265.0, 109.28, 35.84, 684639.2, 224537.6, 460101.60000000073, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291418.0, 406.0, 154.06, 90.93, 62548.36, 36917.58, 25630.780000002145, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291419.0, 3076.0, 205.7, 117.11, 632733.2, 360230.36, 272502.8400000008, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291420.0, 6265.0, 205.7, 117.11, 1288710.5, 733694.15, 555016.3499999999, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291421.0, 3076.0, 668.27, 502.54, 2055598.52, 1545813.04, 509785.4799999962, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291422.0, 406.0, 205.7, 117.11, 83514.2, 47546.66, 35967.54000000156, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291423.0, 3076.0, 81.73, 56.67, 251401.48, 174316.92, 77084.56000000218, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291424.0, 6265.0, 47.45, 31.79, 297274.25, 199164.35, 98109.90000000157, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291425.0, 6265.0, 81.73, 56.67, 512038.45, 355037.55, 157000.90000000125, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291426.0, 3076.0, 205.7, 117.11, 632733.2, 360230.36, 272502.8400000008, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291427.0, 406.0, 109.28, 35.84, 44367.68, 14551.04, 29816.64000000249, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291428.0, 406.0, 668.27, 502.54, 271317.62, 204031.24, 67286.37999999715, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291429.0, 6265.0, 109.28, 35.84, 684639.2, 224537.6, 460101.60000000073, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291430.0, 3076.0, 437.2, 263.33, 1344827.2, 810003.08, 534824.119999998, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291431.0, 3076.0, 437.2, 263.33, 1344827.2, 810003.08, 534824.119999998, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291432.0, 406.0, 205.7, 117.11, 83514.2, 47546.66, 35967.54000000156, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291433.0, 6265.0, 154.06, 90.93, 965185.9, 569676.45, 395509.45000000036, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291434.0, 406.0, 437.2, 263.33, 177503.2, 106911.98, 70591.21999999917, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291435.0, 3076.0, 437.2, 263.33, 1344827.2, 810003.08, 534824.119999998, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291436.0, 406.0, 9.33, 6.92, 3787.98, 2809.52, 978.4600000036921, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291437.0, 406.0, 421.89, 364.69, 171287.34, 148064.14, 23223.199999999808, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291438.0, 6265.0, 255.28, 159.42, 1599329.2, 998766.3, 600562.899999999, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291439.0, 6265.0, 421.89, 364.69, 2643140.85, 2284782.85, 358357.99999999785, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291440.0, 6265.0, 421.89, 364.69, 2643140.85, 2284782.85, 358357.99999999785, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291441.0, 6265.0, 421.89, 364.69, 2643140.85, 2284782.85, 358357.99999999785, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291442.0, 3076.0, 651.21, 524.96, 2003121.96, 1614776.96, 388344.9999999962, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291443.0, 3076.0, 437.2, 263.33, 1344827.2, 810003.08, 534824.119999998, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291444.0, 3076.0, 421.89, 364.69, 1297733.64, 1121786.44, 175947.19999999873, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291445.0, 6265.0, 109.28, 35.84, 684639.2, 224537.6, 460101.60000000073, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291446.0, 3076.0, 109.28, 35.84, 336145.28, 110243.84, 225901.44000000175, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291447.0, 6265.0, 205.7, 117.11, 1288710.5, 733694.15, 555016.3499999999, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291448.0, 3076.0, 154.06, 90.93, 473888.56, 279700.68, 194187.88000000134, '2022-03-21 17:30:19')
INSERT INTO Linear_Reg_Model (ID, Units_Sold, Unit_Price, Unit_Cost, Total_Revenue, Total_Cost, totalprofit, "INSERTED_AT") VALUES (6291449.0, 3076.0, 255.28, 159.42, 785241.28, 490375.92, 294865.36000000034, '2022-03-21 17:30:19')